{% extends 'base.html' %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('authentication.static', filename='css/login.css') }}"
/>
{% endblock %} {% block content %}
<form class="form" method="post" id="login-form">
  <h1 class="form-title">Login Quickly !!</h1>
  <div class="form-fields">
    <div class="field">
      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        id="email"
        required="required"
        minlength="6"
        placeholder="loginemail@poject.emergencybd"
      />
    </div>

    <div class="field">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        minlength="6"
        required="required"
      />
    </div>
  </div>
  <button type="submit" class="button button-solid">Login</button>
</form>
{% endblock %}
